<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/settings">ASUProject</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Поиск вакансий</a></li>
                    <li><a href="/regions">Анализ данных по регионам</a></li>
                    <li><a href="/vacancies">Анализ вакансии по регионам</a></li>
                </ul>
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>#}
                {#</ul>#}
            </div>
        </div>
    </nav>
    </body>
</html>
<head>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css">
    <link rel="stylesheet" href="{{ path }}/web/css/main.css">
    {% endblock %}
    <style>
        /* Set black background color, white text and some padding */

    </style>
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/js/bootstrap-notify.min.js"></script>
    <script src="{{ path }}/web/bundles/fosjsrouting/js/router.js"></script>
    <script src="{{ path }}/web/js/fos_js_routes.js"></script>
    <script src="{{ path }}/web/js/notify.min.js"></script>
    <script src="{{ path }}/web/js/main.js"></script>
{% endblock %}
</body>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>
</html>
