<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <link rel="icon" type="image/x-icon" href="{{ asset('web/favicon.ico') }}"/>

    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Logo</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class=""><a href="/">Home</a></li>
                    {% if user is defined and (user.username == 'kilinsight') %}
                        <li class=""><a href="{{ path('test_bot') }}">Test</a></li>
                        <li class=""><a href="https://phpmyadmin.my-fathers-voice.com">PMA</a></li>
                    {% endif %}
{#                    <li><a href="#">Projects</a></li>#}
{#                    <li><a href="#">Contact</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user is defined %}
                        <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        <li><a href="{{ path('register') }}"><span class="glyphicon glyphicon-sign-up"></span> Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </body>
</html>
<head>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style.css', 'css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <style>
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('main.js', 'js') }}"></script>
    <script src="{{ asset('router.js', 'js') }}"></script>
    <script src="{{ asset('fos_js_routes.js', 'js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</body>
{% block footer %}
    <footer class="container-fluid text-center">
        <p>© 2020 My Father's voice. All rights reserved</p>
    </footer>
{% endblock %}
</html>
