{% extends 'base.html.twig' %}

{% block body %}
    {# ... you will probably extend your base template, like base.html.twig #}
    <div class="wrapper">
        <div class="user-bundle-block">
            {% if info %}
                <div class="info-block">{{ info }}</div>
            {% endif %}
            {% if error %}
                <div class="errors-block">{{ error }}</div>
            {% endif %}
            <div class="user-form-block">
                <form action="{{ path('verify_email') }}" method="post">

                    <div class="input-row">
                        <label for="email">Email:</label>
                        <input class="form-control"  type="email" id="email" name="_email" value="{{ email }}"/>
                    </div>

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account"/>
                    #}

                    <button class="btn btn-default" type="submit">Send code</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('user.css', 'css') }}">
{% endblock %}